/*  <div className=" flex justify-center items-center mt-[10%] md:mt-[5%]">
        <div className="w-[188px] h-[36px] relative p-[2px] rounded-md animated-border">
          <button
            className="
            w-full h-auto bg-white rounded-md
            font-semibold text-[#4D4C4C] font-clash tracking-wide
            flex items-center justify-center gap-3
            hover:bg-primary hover:text-white transition-all duration-300
          "
          >
            <span className="w-3 h-3 rounded-full bg-primary animate-pulse mt-1"></span>
            <span className=" mt-1 text-[16px] uppercase">Why Choose Us</span>
          </button>
        </div>
      </div>

      <WhyChooseUs /> */