@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Aileron";
  src: url('./font/aileron/Aileron-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("./font/aileron/Aileron-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("./font/aileron/Aileron-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("./font/aileron/Aileron-Italic.otf") format("opentype");
  font-weight: 400;     
  font-style: italic;  
}


@font-face {
  font-family: "Clash";
  src: url("./font/clash/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Extralight.otf")
       format("opentype");
  font-weight: 200;     
  font-style: normal;
}


@font-face {
  font-family: "Clash";
  src: url("./font/clash/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Medium.otf")
       format("opentype");
  font-weight: 500;     
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("./font/clash/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf")
       format("opentype");
  font-weight: 400;  
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("./font/clash/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Bold.otf")
       format("opentype");
  font-weight: 700;   
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("./font/clash/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf")
       format("opentype");
  font-weight: 600;  
  font-style: normal;
}

.marquee-track {
  width: max-content;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



.animated-border {
 z-index: 0;
}

.animated-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    #FB1E01,
    transparent,
    #FB1E01
  );
  background-size: 300% 100%;
  animation: borderMove 2.5s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

